.ListObject {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 2px;

	// background-color: rgb(255, 0, 0, 0.2);
	background-color: white;
	border: 1px dotted #eee;
	border-radius: 8px;

	input:first-child {
		font-size: 14px;
		font-weight: 500;
		margin-right: 5px;
		width: 70px !important;
	}

}
.PrePayCostInput {
	font-size: 14px;
	width: 60px !important;
	margin: 0 5px;

	border-bottom: 1px solid #e2e2e9 !important;
}
