.dataSlidePicker {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #1f2133;

	.btnText {
		font-family: 'Roboto';
		font-size: 16px;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		width: 125px;
		cursor: pointer;

		transition: all;
		transition-duration: 300ms;

		&:hover {
			color: #179417;
		}
	}
	.btn {
		background: none;
		border: 1px solid #179417;
		border-radius: 180px;
		cursor: pointer;
		padding: 8px 10px;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			background: #eee;
			transition: all 0.3s ease;
		}
		&:first-child {
			margin-right: 22px;
		}
		&:last-child {
			margin-left: 22px;
		}
	}
}
