.calendar {
	display: flex;
	flex-direction: row;
	border: 1px solid #e2e2e9;
	border-radius: 20px;
	max-width: 1490px;
	max-height: 751px;
	margin-top: 20px;

	.table {
		background: #ffffff;
		// border: 1px solid #e2e2e9;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		margin: 0;
		border-collapse: collapse;
		padding: 0;
		table-layout: fixed;
		height: 751px;

		.head {
			border-bottom: 1px solid #e2e2e9;

			.th {
				width: 189px;
				height: 48px;

				border-right: 1px solid #e2e2e9;
			}
		}

		.body {
			border-top: none;

			.tr {
				.td {
					width: 189px;
					height: 116px;
					// border-right: 1px solid #e2e2e9;
					padding: 0;
					margin: 0;
					display: table-cell;
					cursor: pointer;
					transition: all;
					transition-duration: 200ms;
					&:hover {
						// border: 1px solid #25991c;
						// border-radius: 8px;
					}
					// &:last-child {
					// 	border-right: none;
					// }

					.content {
						padding: 0px 12px;
						height: 80%;
						// position: relative;
						.dayIndex {
							font-family: 'Roboto';
							font-weight: 500;
							font-size: 14px;
							margin-bottom: 6px;
							// position: absolute;
							// bottom: 24px;
							// left: 12px;
						}

						.data {
							// position: absolute;
							// top: -16px;
							// left: 11px;
							// width: 80%;
							font-weight: 400;

							.dataField {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								// width: 100%;
							}

							.dataField:first-child {
								margin-bottom: 2px;
							}

							.dataField:last-child {
								margin-top: 12px;
							}

							.LineWrapper {
								display: flex;
								flex-direction: column;
								flex-wrap: wrap;
								align-content: flex-start;

								max-height: 70px;
								.LineLesson {
									margin: 0;
									border-radius: 8px;
									margin-bottom: 5px;
									margin-right: 5px;

									.blue {
										background-color: blue;
									}
									.green {
										background-color: #25991c;
									}
								}
							}
						}
					}
				}
				// &:not(:last-child) .td {
				// 	border-bottom: 1px solid #e2e2e9;
				// }
				.td {
					border-right: 1px solid #e2e2e9;
					border-radius: 20px;
				}
			}
			.tr:not(:last-child) {
				.td {
					border-bottom: 1px solid #e2e2e9;
					border-radius: 20px;
				}
			}
		}
	}

	.sum {
		max-width: 190px;
		height: 751px;
		background-color: #f3fdf2;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;

		.sumTable {
			max-width: 190px;
		}
		.sumText {
			font-size: 16px;
			font-weight: 400;
			border: 1px solid #25991c;
			background-color: #fff;
			width: 168px;
			border-radius: 8px;
			padding: 5px;
		}

		.head {
			display: block !important;

			max-width: 190px;

			.th {
				width: 158px;
				height: 48px;
			}
		}

		.body {
			max-width: 190px;

			border-top: none;

			.tr {
				.td {
					width: 158px;
					height: 116px;
					// border-right: 1px solid #e2e2e9;
					padding: 0;
					margin: 0;
					display: table-cell;
				}
			}
			.tr:not(:last-child) {
				.td {
					// border-bottom: 1px solid #e2e2e9;
				}
			}

			.content {
				padding: 0px 12px;
				height: 100%;
				// position: relative;
				.dayIndex {
					font-family: 'Roboto';
					font-weight: 500;
					font-size: 14px;
					margin-top: 8px;
					margin-bottom: 6px;
					// position: absolute;
					// bottom: 24px;
					// left: 12px;
				}

				.data {
					// position: absolute;
					// top: -16px;
					// left: 11px;
					// width: 80%;
					font-weight: 400;

					.dataField {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						font-size: 14px;
						// width: 100%;
					}

					.dataField:first-child {
						margin-bottom: 2px;
					}

					.dataField:last-child {
						margin-top: 12px;
					}
				}
			}
		}
	}
}

.select {
	cursor: pointer;
	border-radius: 8px;
	width: 142px;
	height: 36px;
	background: none;
	border: 1px solid #179417;
	margin-left: 26px;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 16px;

	.selectContainer {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 16px;
		margin-right: 12px;
	}
}

.red {
	color: #dc2d2d;
}

.grey {
	color: #d7d8e0;
}

.footer {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 10px;

	.info {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		max-width: 1005px;
		height: 90px;
		background-color: #fff;
		border-radius: 20px;
		border: 1px solid #e2e2e9;
		align-items: center;
		padding: 10px 40px;

		margin-right: 20px;
		.Title {
			font-size: 16px;
			font-weight: 500;
			color: #1f2133;
			margin-bottom: 12px;
		}
		.block {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.ImgWrapper {
				display: flex;
				flex-direction: row;

				.infoImg {
					display: flex;
					align-items: center;
					margin-right: 42px;
					p {
						margin-left: 12px;
					}

					img {
						width: 49px;
						height: 49px;
					}
				}

				.infoImg:last-child {
					margin-right: 62px;
				}

				.infoImgMobile {
					display: none;
				}
			}
		}
		.ClientWrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	.devider {
		width: 1px;
		height: 63px;
		background-color: #e4e4e4;
		margin-right: 65px;
	}

	.IncomeNPrognosisWrapper {
		max-width: 386px;
		height: 112px;
		background: #f3fdf2; //f3fdf2
		border: 1px solid #e2e2e9;
		border-radius: 20px;
		display: flex;
		.Title {
			font-size: 14px;
			font-weight: 500;
			color: #1f2133;
			margin-bottom: 6px;
		}
		.IncomeWrapper {
			width: 193px;
			height: 97px;

			padding: 8px 12px;
			border-right: 1px solid #e2e2e9;
			.Lessons,
			.Works,
			.Income {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				font-size: 14px;
				color: #1f2133;
			}

			.Works {
				margin-top: 2px;
				margin-bottom: 6px;
			}
		}

		.PrognosisWrapper {
			width: 193px;
			height: 97px;

			padding: 8px 12px;
			.Lessons,
			.Works,
			.Income {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				font-size: 14px;
				color: #9296ad;
			}

			.Works {
				margin-top: 2px;
				margin-bottom: 6px;
			}
		}
	}
}

.Line {
	background-color: #e2e2e9 !important;
	position: relative;
	right: 4px;
	top: 5px;
	margin: 0 !important;
}

.LineSumTr {
	background-color: #e2e2e9 !important;
	position: relative;
	right: 2px;
	// bottom: 12px;
	margin: 0 !important;
}

@media screen and (max-width: 1024px) {
	.calendar {
		overflow-x: scroll;
	}

	.footer {
		.info {
			height: fit-content;
			.Title {
				display: none;
			}
			.ImgWrapper {
				flex-wrap: wrap;

				.infoImg {
					margin-right: 20px !important;
					margin-bottom: 10px;
					p {
						font-size: 14px;
						margin-left: 10px !important;
					}

					img {
						width: 36px !important;
						height: 36px !important;
					}
				}

				.infoImgMobile {
					display: flex !important;
					align-items: center;

					p {
						font-size: 14px;
						margin-left: 10px !important;
					}
					img {
						width: 36px;
						height: 36px;
					}
				}
			}
		}

		.devider {
			display: none;
		}

		.ClientWrapper {
			display: none !important;
		}
	}
}

@media screen and (min-width: 1024px) {
	.ImgWrapper {
		.infoImg {
			min-width: 135px;
		}
	}
}

@media screen and (min-width: 900px) {
	.dataSlidePicker {
		display: none !important;
	}
}

.dataSlidePicker {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 678px) {
	.calendar {
		width: 100%;

		.table {
			font-size: 12px !important;
			tr {
				th {
					min-width: 189px;
					min-height: 116px;
				}
			}
		}
	}

	.sumTable {
		.sumText {
			font-size: 12px !important;
		}
		.body {
			.dayIndex {
				font-size: 12px !important;
			}
			.dataField {
				font-size: 12px !important;
			}
		}
	}

	.footer {
		.infoImg, .infoImgMobile {
			p {
				font-size: 12px !important;
			}
		}
		

		margin-bottom: 100px;
	}

	.IncomeNPrognosisWrapper {
		.Title {
			font-size: 12px !important;
		}
	}

	.Lessons,
	.Works,
	.Income {
		font-size: 12px !important;
	}
}
