.wrapper {
	width: 346px;
	height: 872px; // на сайте 833 | в фигме 872

	display: flex;
	flex-direction: column;

	margin: 10px 10px 0 10px;
	background-color: #fff;
	border: 1px solid #e2e2e9;
	border-radius: 20px;

	.Line {
		background: #e2e2e9;
		margin: 0 16px;
	}

	.HeaderLeftMenu {
		display: flex;
		flex-direction: column;
		margin: 20px;

		.FilterNArchive {
			display: flex;
			flex-direction: column;

			border: 1px solid #25991c;
			border-radius: 8px;

			margin-bottom: 12px;

			.muiSelectType,
			.muiSelectArchive {
				background: none;
				border: none !important;
				cursor: pointer;
				outline: none;
				color: black;

				display: flex;
				flex-direction: row;
				white-space: nowrap;
				height: 26px;

				margin: 14px 16px;
			}

			.muiSelectArchive::before,
			.muiSelectArchive::before {
				border: none !important;
			}
		}

		.SearchInput {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			border: 1px solid #25991c;
			border-radius: 8px;

			margin-bottom: 14px;
			padding: 0 0 0 11px;

			input {
				width: 238px;

				font-size: 16px;

				border: none;
				background: none;
				outline: none;
			}

			.SearchIconDiv {
				background: #f3fdf2;
				border-radius: 8px;

				.SearchIcon {
					padding: 11px;

					path {
						fill: #9296ad;
					}
				}
			}
		}
	}

	.SortData {
		.muiSelectSort {
			background: none;
			border: none !important;
			border-radius: 6px;
			padding: 5px;
			cursor: pointer;
			outline: none;
			color: black;

			display: flex;
			flex-direction: row;
			white-space: nowrap;
		}
	}

	.MainLeftMenu {
		margin: 20px;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
		max-height: 590px;
		overflow-y: auto;

		.muiSelect__menu {
			margin-bottom: 10px;
		}

		.ListGroupWrapper.Archive,
		.ListWrapper.Archive {
			p {
				color: #9296ad !important;
			}

			.Icons {
				color: #9296ad !important;
			}
		}

		.ListWrapper {
			display: flex;
			flex-direction: row;

			.btn {
				width: 32px;
				height: 32px;
				margin-right: 20px;
			}
			p {
				width: 200px;
			}
		}

		.ListGroupWrapper {
			max-width: 276px;
			display: flex;
			flex-direction: row;
			align-items: center;

			.btn {
				margin-right: 20px;
			}
			p {
				width: 200px;
			}
		}
	}
}

.muiSelect {
	.ListWrapper {
		display: flex;
		align-items: center;

		p {
			text-align: start;
			font-size: 16px;
		}
		.btn {
			img {
				width: 32px;
				height: 32px;

				margin-right: 10px;
			}
		}

		.Icons {
		}
	}
}
.muiOption {
	background-color: #f9f9fd;
	width: 296px;
	height: fit-content;
	border-radius: 4px;
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
		0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

	.ListItem {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px 20px;

		b {
			margin-bottom: 10px;
		}
	}
	.Phone {
		margin-bottom: 10px;
	}
}

.LineList {
	background: #e2e2e9;
	min-height: 1px;
}
.CloseButton {
	display: none;
	position: absolute;
	z-index: 100;
}

.CloseIcon {
	position: relative;
	left: 360px;
	top: 10px;
	width: 26px;
	height: 26px;
	color: red;
}
.ExitPopUpWrap {
	position: absolute;
	z-index: 100;
}
.ExitPopUp {
	position: relative;
	top: 20px;
	left: 400px;
}
@media screen and (max-width: 1024px) {
	.wrapper {
		position: fixed;
		left: 10;
		z-index: 100;
		max-height: 800px !important;
		margin: 0;
	}

	.mobileLeft {
		display: none !important;
	}

	.CloseButton {
		display: block;
		position: fixed;
		z-index: 101;
	}
	.CloseIcon {
		top: 0;
		left: 300px;
	}
	.ExitPopUpWrap {
		position: fixed;
		z-index: 101;
	}
	.ExitPopUp {
		position: relative;
		top: 20px;
		left: 20px;
	}
}

.FakeBlock {
	min-height: 32px;
}

.muiMenuItemRoot {
	width: 310px;
	&:hover {
		background-color: #1976d214 !important;
	}
}

.muiMenuItemSelected {
	background-color: #fff !important;
}

@media screen and (min-width: 678px) and (max-width: 1024px) {
	.wrapper {
		max-height: 90%;
	}
}
