button,
input {
	cursor: pointer;
	border: none;
	background: none;
	outline: none;
}

.wrapper {
	width: 700px;
	height: 40px;
	margin: 0px 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;

	white-space: nowrap;
	font-size: 16px;

	.Icon {
		margin-right: 20px;
		img {
			width: 32px;
			height: 32px;
		}
	}
	.ClickWrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 100%;

		.Time {
			margin-right: 10px;
			width: 100px;
		}

		.Name {
			margin-right: 10px;
			width: 220px;
		}

		.Item {
			margin-right: 10px;
			width: 110px;
		}

		.Price {
			margin-right: 10px;
			width: 70px;
			font-weight: 500;
			display: flex;
			justify-content: flex-end;
		}
	}
	.Checkbox {
		margin-right: 10px;
	}
	.BtnDelete {
		color: #9296ad;
	}
}

@media screen and (max-width: 678px) {
	.wrapper {
		max-width: 100%;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		.ClickWrapper {
			input,
			.InputCstm {
				width: inherit;
				max-width: inherit;
			}
			.Time {
				width: 70px;
				max-width: 70px;
			}
			.Name {
				width: 70px;
				max-width: 50px;
			}
			.Item {
				max-width: 50px;
				width: 50px;
				margin-right: 18px;
			}
			.Price {
				max-width: 30px;
				width: 30px;
			}
			.Time,
			.Name,
			.Item,
			.Price {
				p {
					width: inherit;
					max-width: inherit;
					font-size: 12px;
				}
			}
		}
		.Checkbox {
			input {
				width: inherit;
				height: inherit;
			}
			padding: 0 !important;
			margin-right: 5px !important;
			width: 12px;
			height: 12px;
		}
		.BtnDelete {
			svg {
				width: 20px;
				height: 20px;
			}
		}
	}
}
