.Line {
	background: #e2e2e9;
	margin: 10px 0px 0 0;
}

.LabelForFile {
	margin-right: 10px;
	.ImgForFile {
		border: 1px solid #25c25c;
		border-radius: 10px;
	}
}

.FileList {
	display: flex;
	flex-direction: column;

	.FileItem {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		cursor: pointer;
		padding: 5px;
		&:hover {
			transition: all .15s;
			background-color: #eee;
		}
	}
}

.FileLine {
	margin: 0 !important;
	background-color: #e2e2e9;
}
